body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0 0;
}

a{
  color: seashell;
}
/* Header */

header {
  position: fixed;
  z-index: 10;
  border-bottom: solid 1px seashell;
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
}

.logo {
  flex-grow: 1;
  padding-left: 10px;
}

.logo img{
  margin-left: 10px;
  height: 50px;
  float: left;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

/* Main Content Container */

.content {
  width: 1200px;
  padding-top: 69px;
  margin: auto;
}

h2, h3, h4{
  margin: 0;
  padding: 10px;
}

/* Our Mission Section */

#mission{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/img-mission-background.jpg");
  height: 700px;
  width: 100%;
}

.mission-banner{
  background-color: black;
  z-index: 1;
  width: 100%;
}

/* Featured Tea Section */

#featured{
  margin-top: 70px;
}

.featuredtea-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: auto;
}

.featuredtea-image{
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
  font-weight: bold;
}

.featuredtea-image img{
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

/* Locations Section */
#locations{
  background-image: url("./images/img-locations-background.jpg");
  height: 500px;
  width: 100%;
  padding-top: 70px;
  margin-top: 70px;
}

.locations-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin-top: 15px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 280px;
  height: 270px;
  margin: 0px 20px;
  padding: 10px;
  opacity: 1;
}

.location h3{
  padding: 0px;
}

/* Footer Section */
.footer{
  margin-top: 20px;
  text-align: left;
}
